<div class="panel">
  <mat-menu #appMenu="matMenu">
    <button class="Untermenue" mat-menu-item (click)="showScore()">
      Benutzerscore
    </button>
    <button class="Untermenue" mat-menu-item (click)="fragenkatalog()">
      Fragenkatalog
    </button>
    <button class="Untermenue" mat-menu-item (click)="showFriends()">
      Freunde
    </button>
    <button class="Untermenue" mat-menu-item (click)="abmelden()">
      Abmelden
    </button>
  </mat-menu>
  <button class="menu" mat-flat-button [matMenuTriggerFor]="appMenu">
    Menü
  </button>
  <a class="logo_link" href = "#" (click)="navigateHome()">
    <img class="logo" src="../../assets/images/IU-Quiz_Logo.png" alt="Logo"/>
  </a>
</div>
