<body>
    <section>
        <form>
            <h1>Login</h1>
            <div class="inputbox">
                <input type="text" name="username" [(ngModel)]="loginObj.username" required>
                <label>Benutzername</label>
            </div>
            <div class="inputbox">
                <input type="password" name="password" [(ngModel)]="loginObj.password" required>
                <label>Passwort</label>
            </div>

            <button (click)="onLogin()">Log in</button>

        </form>
    </section>
</body>
