<app-header></app-header>
<div class="panel">
  <div class="text">
    <div class="headline">
      Lerne Studieninhalte <br />
      schnell und effektiv
    </div>
    <div class="description">
      Ob alleine, oder im Duell mit anderen Studente
    </div>

    <button class="button">
      <a class="link" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Loslegen</a>
    </button>

  </div>
  <div class="image-box">
    <img class="image" src="./assets/images/undraw_learning_sketching.png" />
  </div>
</div>
<div class="panel">
  <div class="image-box">
    <img class="image" src="./assets/images/undraw_Visualization.png" />
  </div>
  <div class="text2">
    <div class="headline2">
      Mit IU Quiz wird lernen <br />
      einfach!
    </div>
    <div class="description">
      Erstelle Quizkarten, um alleine, oder mit anderen zu lernen!
    </div>
    <ul>
      <li><span class="list">Verbessere dein Wissen</span></li>
      <li><span class="list">Entwerfe eigene Fragen</span></li>
      <li><span class="list">Duelliere dich mit Freunden</span></li>
      <li><span class="list">Wiederhole Studieninhalte</span></li>
    </ul>
  </div>
</div>
<div class="panel">
  <div class="text">
    <div class="headline">Wähle deine Herausforderung</div>
    <div class="description2">
      Fordere Freunde oder andere Studenten heraus, oder schlage deinen <br />
      eigenen Rekord!
    </div>
  </div>
</div>
<div class="panel">
  <div class="image-div">
    <img class="image2" src="./assets/images/undraw_People.png" />
  </div>
  <div class="image-div">
    <img class="image3" src="./assets/images/undraw_Mobile.png" />
  </div>
</div>
<div class="panel">
  <div class="text3">
    Registriere dich jetzt und lerne mit IU-Quiz
  </div>

  <button class="button">
    <a class="link" routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Jetzt Loslegen</a>
  </button>

</div>
<br>
<br>
<br>
<app-footer></app-footer>

