$yellow-color: #f6ff63;
$purple-color: #6c63ff;
$grey-color: #cccccc;
$black-color: #000000;
$green-color: #2fab73;
$red-color: #bc0c0cc5;

$var: 100vw;

.gamePage {
  height: 100%;
  width: calc($var/1);
  overflow: hidden;
}

.logo {
  // display: block;
  margin-left: auto;
  margin-right: auto;
  width: calc($var/15);
  height: calc($var/30);
  align-items: center;
}

.kategorie {
  display: flex;
  align-items: center;
  position: relative;
  top: calc($var/33);
  width: calc($var/2.5);
  height: calc($var/50);
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0 0 30px 30px;
  background-color: $yellow-color;
}

.kategorie_text {
  font-family: "Roboto", sans-serif;
  font-size: calc($var/120);
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: $black-color;
}

.frage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
  top: calc($var/100);
  width: calc($var/1.5);
  height: calc($var/10);
  font-family: "Roboto", sans-serif;
  font-size: calc($var/70);
  color: white;
  font-weight: bold;
  border-radius: 30px;
  background-color: $purple-color;
}

.panel {
  display: flex;
  justify-content: center;
}

.panelCheckMark {
  display: flex;
  padding: calc($var/100);
  justify-content: center;
  align-items: center;
}

.rightAnswer {
  background-color: $green-color;
  margin: calc($var/100);
  width: calc($var/50);
  height: calc($var/50);
  border-radius: 50%;
  cursor: pointer;
}

.blank {
  background-color: $grey-color;
  margin: calc($var/100);
  width: calc($var/50);
  height: calc($var/50);
  border-radius: 50%;
  cursor: pointer;
}

.wrongAnswer {
  background-color: $red-color;
  margin: calc($var/100);
  width: calc($var/50);
  height: calc($var/50);
  border-radius: 50%;
  cursor: pointer;
}

.checkMark {
  margin: calc($var/100);
  width: calc($var/50);
  height: calc($var/50);
  background-color: $grey-color;
  border-radius: 50%;
  cursor: pointer;
}

.check {
  padding-top: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cross {
  padding-top: 0.3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.antwort {
  padding: calc($var/50);
  margin: calc($var/50);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  width: calc($var/3.3);
  height: calc($var/20);
  font-size: calc($var/100);
  font-weight: bold;
  color: $purple-color;
  background-color: $grey-color;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

mat-progress-bar {
  position: relative;
  top: calc($var/100);
  width: calc($var/1.7);
  height: calc($var/100);
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
}
