<app-global-header></app-global-header>
<div class="gamePage">
  <div class="kategorie">
    <span class="kategorie_text">{{ message[i].kategorie }}</span>
  </div>
  <div class="frage">{{ message[i].frage }}</div>
  <!-- <div class="progressbar"> -->
    <mat-progress-bar class="progressbar" mode="determinate" [value]="progress"></mat-progress-bar>
  <!-- </div> -->
  <div class="panelCheckMark">
    <div *ngFor="let item of message; let i = index">
      <div
        [ngClass]="{
          rightAnswer: isRightAnswer[i] && questionAnswered[i],
          wrongAnswer: !isRightAnswer[i] && questionAnswered[i],
          blank: !questionAnswered[i]
        }"
      >
        <span class="check" *ngIf="isRightAnswer[i] && questionAnswered[i]"
          >&#10004;</span
        ><span class="cross" *ngIf="getWrongAnswer(i) && questionAnswered[i]"
          >x</span
        >
        <span class="blank" *ngIf="!questionAnswered[i]"></span>
      </div>
    </div>
  </div>
  <div class="panel">
    <button class="antwort" (click)="checkAnswer(1)">
      {{ message[i].antworten.antwort1 }}
    </button>
    <button class="antwort" (click)="checkAnswer(2)">
      {{ message[i].antworten.antwort2 }}
    </button>
  </div>
  <div class="panel">
    <button class="antwort" (click)="checkAnswer(3)">
      {{ message[i].antworten.antwort3 }}
    </button>
    <button class="antwort" (click)="checkAnswer(4)">
      {{ message[i].antworten.antwort4 }}
    </button>
  </div>
</div>
