<app-global-header></app-global-header>
<br />
<div class="fragen-container">
  <h1 class="header">{{ choosenCategory }}</h1>
</div>
<div class="panel">
  <h2 class="header">Neue Frage hinzufügen:</h2>
  <div class="fragen-container">
    <div class="fragen">
      <form class="form" [formGroup]="form" (ngSubmit)="speichern()">
        <div class="input-group">
          <label>Frage:</label>
          <input type="text" formControlName="frage" />
          <div
            *ngIf="form.controls.frage.invalid && form.controls.frage.touched"
          >
            Frage is required.
          </div>
        </div>
        <div formGroupName="antworten">
          <div class="input-group">
            <label>1. Antwort:</label>
            <input type="text" formControlName="antwort1" />
          </div>
          <div class="input-group">
            <label>2. Antwort:</label>
            <input type="text" formControlName="antwort2" />
          </div>
          <div class="input-group">
            <label>3. Antwort:</label>
            <input type="text" formControlName="antwort3" />
          </div>
          <div class="input-group">
            <label>4. Antwort:</label>
            <input type="text" formControlName="antwort4" />
          </div>
        </div>
        <div class="input-group">
          <label>Richtige Antwort Nr:</label>
          <input type="text" formControlName="korrekteAntwort" />
        </div>
        <div class="button-group">
          <button type="submit" class="btn btn-primary">Hinzufügen</button>
        </div>
      </form>
    </div>
  </div>
  <h2 class="header">Fragen bearbeiten:</h2>
  <div class="fragen-container">
    <div class="fragen" *ngFor="let item of formArray.controls; let i = index">
      <form
        class="form"
        [formGroup]="getFormGroup(i)"
        (ngSubmit)="update(getFormGroup(i), i)"
      >
        <div class="input-group">
          <label>Frage:</label>
          <input type="text" formControlName="frage" />
        </div>
        <div formGroupName="antworten">
          <div class="input-group">
            <label>1. Antwort:</label>
            <input type="text" formControlName="antwort1" />
          </div>
          <div class="input-group">
            <label>2. Antwort:</label>
            <input type="text" formControlName="antwort2" />
          </div>
          <div class="input-group">
            <label>3. Antwort:</label>
            <input type="text" formControlName="antwort3" />
          </div>
          <div class="input-group">
            <label>4. Antwort:</label>
            <input type="text" formControlName="antwort4" />
          </div>
        </div>
        <div class="input-group">
          <label>Richtige Antwort Nr:</label>
          <input type="text" formControlName="korrekteAntwort" />
        </div>
        <div class="button-group">
          <button type="submit" class="btn btn-primary">Speichern</button>
          <button
            class="loeschen"
            type = "button"
            (click)="loeschen(i)"
            class="btn btn-primary"
          >
            Löschen
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
